
@{
    ViewBag.Title = "Mentions";
}


<div class="row semi_transparent_container">
    <h2><b>Legal Mentions</b></h2>
    <hr class="in_container_hr" />
    <div class="row">
    <div class="col-md-4">
        <h2>Conception </h2>
        <p>
            © 2017 - Quirk™
        </p>
        <p> 13 rue de la chapelle</p>
        <p> 67640 Lipsheim</p>
        <a href="www.qwirk.com">www.qwirk.com</a>
    </div>
    <div class="col-md-8">
        <h2>Access and data modifications rights</h2>
        <p>You have the possibility to change or remove all the datas that concern you. Those datas are only used by Quirk™ to provide informations between our users.</p>
    </div>
    </div>
    <br />
    <h3 >Cookies</h3>
    <div class="row">
        <div class="col-md-12">
            <p>Quirk™ is using cookies to provide services. <br>We don't send or use your personal datas but informations that we use to keep you log,<br> to keep other users informed about your last connection, and so on ...</p>
        </div>
    </div>
    <br />
    <h3>Authors</h3>
    <div class="row">
        <div class="col-md-6">
            <p> Our icons and smileys are the work of two differents authors <br>
            You can find their work here : <a href="http://www.flaticon.com/authors/alessio-atzeni">http://www.flaticon.com/authors/alessio-atzeni</a>
                <a href="http://www.flaticon.com/authors/baianat">http://www.flaticon.com/authors/baianat</a>                
            </p>
        </div>
        <div class="col-md-6">
            <p> License of use can be found  <a href="http://docdro.id/AOd5HYw"> Here</a></p> 
        </div>
    </div>
</div>

<a href="../Home" class="to_home_button"><img src="~/Ressources/img/to_home_button.png" /></a>