@model Mirk.ViewModels.GroupsViewModel

@{
    ViewBag.Title = "Groups";
}

<br />
<div class="row default_container groups_container">
    <div class="col-md-2">
        <h2 class="container_text">My Groups</h2>
    </div>
    <div class="col-md-2 div_center adjust_down_inp">
        <input type="text" class="input-sm input-group setfullright" />
    </div>
    <div class="col-md-3 div_center">
        <input type="button" class="btn btn-primary btn-group adjust_spacing_btninp" value="Find &raquo;" />
        <input type="button" class="btn btn-primary btn-group btn_purple" value="Favorites ★" />
        <input type="button" class="btn btn-primary btn-group btn_purple" value="Filter ⮟" />
    </div>
    <div class="col-md-1 div_center navbar-right">
        <input type="button" class="btn btn-primary btn-group navbar-right btn_addfriend" value="+ Add Group" />
    </div>

</div>

