<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="text-center row semi_transparent_container">
        <h1><b>Hey</b></h1>
        <h3><b>That's a 404 :/ There's nothing at this link</b></h3>
        <hr class="in_container_hr" />
        <img src="~/Ressources/img/drowsy_cat.gif" />
        <hr class="in_container_hr" />
        <input type="button" onclick="location.href='@Url.Action("Index", "Home")'" value="Get me outta here" class="btn btn_big btn-primary" />
    </div>
</body>
</html>